<div class="row mb-4 flex-column border border-secondary">

  <div class="p-2 bg-secondary">
    <h2 class="d-inline">
      {{title}}
    </h2>
    <p class="d-inline float-right">Posted by <strong>{{user.username}}</strong> on {{format_date createdAt}}</p>
  </div>
  <div class="p-2">
    <p>
      {{content}}
    </p>
  </div>

  <div>
    <form id="comment-form">
      <div class="p-2">
        <label for="comments">Leave a comment:</label>
        <textarea class="w-100" name="comments" id="comments" rows="5"></textarea>
      </div>
      <div class="p-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

</div>

<script src="./js/comment.js"></script>