<section class="row mb-4 flex border border-secondary">

  <div class="p-4 bg-secondary col-3">
    <div class="px-4 d-inline">
      <h2>Title:</h2>
      <h3 class="font-italic" id="post-title">{{title}}</h3 class="font-italic">
    </div>
    <div class="px-4 d-inline">
      <p>Posted by <strong>{{user.username}}</strong> on {{format_date createdAt}}</p>
    </div>
  </div>

  <div class="p-2 col-9">
    <form id="post-form" class="px-2">
      <div>
        <h2>Content:</h2>
        <textarea name="post-content" id="post-content" class="p-2 w-100" rows="5">{{content}}</textarea>
      </div>
      <div>
        <button class="btn btn-primary m-4" id="update" type="submit">Update Post</button>
        <button class="btn btn-primary m-4" id="delete">Delete Post</button>
      </div>
    </form>
  </div>

</section>

<script src="/js/update.js"></script>